<script setup>
import { computed } from 'vue';
import { marked } from "marked";
import '~/assets/css/marked.scss'

const props = defineProps({
    modelValue: {
      type: String,
      default: ''
    }
});

const mdValueHtml = computed(() => {
    return marked(props.modelValue);
    // should also sanitize the html
});
</script>
<template>
  <div
    class="marked"
    v-html="mdValueHtml"
  />
</template>