<script setup>
import { computed } from 'vue';
const props = defineProps({
    modelValue: {
      type: String,
      default: ''    
    }
});
const emit = defineEmits(['update:modelValue']);
const text = computed({
    get: () => props.modelValue,
    set: (value) => emit('update:modelValue', value)
});
</script>

<template>
  <UTextarea
    v-model="text"
    autoresize
    class="my-2"
    color="primary"
    placeholder="Type your markdown here..."
  />
</template>
