<script setup>
defineProps({
    minimal: {
      type: Boolean,
      default: false
    }
});
const clearLinks = async (close) => {
  localStorage.removeItem('generatedIds');
  window.location.reload();
  // todo: should move generatedIds to a store
  close();
};
</script>

<template>
  <nav class="flex justify-between py-1">
    <NuxtLink
      to="/"
      class="text-xl font-bold" 
      :class="{ minimal }"
    >
      mdshare
    </NuxtLink>
    <UPopover>
      <UButton
        icon="i-heroicons-ellipsis-horizontal-16-solid"
        color="white"
        variant="ghost"
        :class="{ minimal }"
      />
      <template #panel="{ close }">
        <div class="p-4 flex flex-col gap-2">
          <theme-switch />
          <UButton
            v-if="!minimal"
            icon="i-heroicons-trash-20-solid"
            label="Clear past links"
            color="gray"
            variant="ghost"
            @click="clearLinks(close)"
          />
          <UButton
            label="by Cool Concepts"
            to="https://coolconcepts.tech/"
            target="_blank"
            color="gray"
            variant="ghost"
          />
        </div>
      </template>
    </UPopover>
  </nav>
</template>

<style scoped lang="scss">
.minimal {
  font-size: 1em;
  opacity: 0.3;
}
</style>
