.marked {
    ul {
        padding-left: 1em;
    }
    li {
        list-style-type: disc;
    }
    li:has(p > input) {
        list-style-type: none;
        margin-left: -1.2em;
    }
    h1{
        font-size: 1.5em;
        font-weight: 800;
    }
    h2 {
        font-size: 1.3em;
        font-weight: 700;
    }
    h3 {
        font-size: 1.2em;
        font-weight: 600;
    }
    h4 {
        font-size: 1.1em;
        font-weight: 500;
    }
    p {
        margin: 0.5em 0;
    }
}
