<script setup lang="ts">
const route = useRoute();
const id = route.params.id;
const mdValue = ref('');
const loading = ref(true);
const displayError = ref(null);
const { fetchMdEntry } = useMdShare();

try {
  loading.value = true;
  const mdEntry = await fetchMdEntry(id);
  mdValue.value = mdEntry.content.md || '';
  loading.value = false;
} catch (error: any) {
  displayError.value = error.message;
  loading.value = false;
}

useHeadSafe({
  title: 'mdshare - Share Markdown',
  meta: [
    { name: 'og:title', content: 'mdshare' },
    { name: 'og:description', content: mdValue.value.substring(0, 100)},
    { name: 'og:type', content: 'article'}
  ]
});
useSeoMeta({
  title: `mdshare`,
  ogTitle: 'mdshare',
  description: `${mdValue.value.substring(0, 100)}...`,
  ogDescription: `${mdValue.value.substring(0, 100)}...`,
});
</script>
<template>
  <div>
    <navigation-bar :minimal="true" />
    <md-preview
      v-if="mdValue"
      :model-value="mdValue"
    />
    <template v-else-if="loading">
      <UProgress animation="carousel" />
    </template>
    <template v-else>
      {{ displayError }}
    </template>
    <div style="height: 5em;" />
  </div>
</template>