<script setup lang="ts">
import { ref, onMounted } from 'vue';
const router = useRouter()
const toast = useToast()
const mdValue = ref('');
const generatedIds = ref<string[]>([]);
const expiry = ref(168);
const { publishMdEntry, expiryOptions } = useMdShare();

useHeadSafe({
  title: 'mdshare - Share Markdown',
  meta: [
    { name: 'og:title', content: 'mdshare' },
    { name: 'og:description', content: 'Share markdown text with a link'},
    { name: 'og:type', content: 'article'}
  ]
});

const copyLink = (id: string) => {
  const link = `${window.location.origin}/${id}`;
  navigator.clipboard.writeText(link);
  toast.add({
    title: 'Link copied to clipboard',
    icon: 'i-heroicons-clipboard-20-solid',
  });
}

const uploadMdText = async () => {
  try {
    const id = await publishMdEntry({
      content: mdValue.value,
      expiresInHours: expiry.value,
    });
    if (!id) {
      throw new Error('Failed to upload');
    }
    generatedIds.value.unshift(id);
    localStorage.setItem('generatedIds', JSON.stringify(generatedIds.value));
    copyLink(id);
    router.push(`/${id}`);
  } catch (error) {
    toast.add({
      title: (error as Error).message,
      icon: 'i-heroicons-x-circle-20-solid',
    });
  }
};

const updateExpiry = (value: number) => {
  localStorage.setItem('expiry', value.toString());
};

onMounted(() => {
  const storedIds = localStorage.getItem('generatedIds');
  const selectedExpiry = localStorage.getItem('expiry');
  if (storedIds) {
    generatedIds.value = JSON.parse(storedIds);
  }
  if (selectedExpiry) {
    expiry.value = parseInt(selectedExpiry);
  }
});
</script>
<template>
  <div>
    <navigation-bar />
    <ClientOnly>
      <div class="flex justify-end gap-2">
        <div class="flex items-center">
          expires in
          <USelect
            v-model="expiry"
            :options="expiryOptions"
            label="Theme"
            variant="none"
            size="sm"
            @change="updateExpiry"
          />
        </div>
        <UButton
          label="Upload"
          variant="soft"
          @click="uploadMdText"
        />
      </div>
    </ClientOnly>
    <md-text v-model="mdValue" />
    <ClientOnly>
      <div class="flex flex-wrap gap-2">
        <UButton
          v-for="id in generatedIds"
          :key="id"
          color="primary"
          variant="soft"
        >
          <NuxtLink :to="`/${id}`">
            {{ id }}
          </NuxtLink>
          <UButton
            icon="i-heroicons-clipboard-20-solid"
            size="2xs"
            @click="copyLink(id)"
          />
        </UButton>
      </div>
    </ClientOnly>
    <md-preview :model-value="mdValue" />
  </div>
</template>
